body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif Lao';font-size: 22px;}

header {
    background-color: #e0f7fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
h2 {
    text-align: center;}
    h3 {
        text-align: center;}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}
.wordbank {
    margin-bottom: 40px;
}

#searchInput {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#wordTable {
    width: 100%;
    border-collapse: collapse;
}

#wordTable th, #wordTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#wordTable th {
    background-color: #f2f2f2;
}

.word-item button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
button {
    padding: 10px 20px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color: #3f7ec5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}